@import "./styles/reset.scss";
@import "./styles/variable.scss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@font-face {
  font-family: "Faktum";
  src: url("./fonts/FaktumBold.otf");
  src: url("./fonts/FaktumRegular.otf");
}
@font-face {
  font-family: "Firty Free";
  font-style: normal;
  font-weight: normal;
  src: local("Firty Free"), url("Firty-Free.woff") format("woff");
}
@font-face {
  font-family: "exmouth";
  src: url("./fonts/exmouth_.ttf");
}

html {
  font-size: 62.5%;
}

// header
header {
  z-index: 1;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  border-radius: 10px;
  position: fixed;
  width: 480px;
  height: 36px;
  // line-height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 0 28px;
  align-items: center;
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(16px);
  background-color: rgba(47, 47, 47, 0.759);
  mix-blend-mode: difference;
  color: #a1a1a1;
  transition: all 0.5s;
  &.active {
    top: -60px;
  }
  &.active {
    transform: translateY(-70px);
  }
  &.blendMode {
    mix-blend-mode: normal;
    color: map-get($map: $color, $key: dark);
    scroll-behavior: none;
  }
  h1 {
    width: 14px;
    a {
      position: relative;
      display: inline-block;
      display: flex;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  #gnb {
    ul {
      display: flex;
      gap: 10px;
      align-items: center;
      li {
        font-family: "Faktum";
        text-transform: uppercase;
        // font-weight: bold;
        padding: 2px;
        // &:hover a {
        //   // font-weight: bold;
        // }
        &:nth-child(1):hover > a {
          color: #fff;
        }
        &:nth-child(2):hover > a {
          color: #fff;
        }
        &:nth-child(3):hover > a {
          color: #fff;
        }
        &:nth-child(4):hover > a {
          color: #fff;
        }
        a {
          // text-transform: uppercase;
          display: inline-block;
          padding: 5px 8px;
          // border-radius: 20px;
          position: relative;
          // font-family: map-get($map: $font-family, $key: REM);
          font-size: 1.2rem;
          transition: all 0.5s;
          // font-family: "Faktum";
          font-weight: 300;
        }
      }
    }
  }
  p {
    opacity: 0;
    position: absolute;
    background: url("./images/detail/circle_black.png") center/cover no-repeat;
    animation: circle 10s linear infinite;
    bottom: -50px;
    right: -50px;
    z-index: 1;
    transition: all 0.3s;
    width: 0px;
    height: 0px;
  }
  #toggleBtn {
    display: none;
    transition: all 0.3s;
    width: 28px;
    height: 20px;
    position: relative;
    background: transparent;
    border: none;
    cursor: pointer;
    span {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      background: #fff;
      width: 100%;
      height: 2px;
      transition: all 0.3s;
      &:nth-child(2) {
        top: 50%;
      }
      &:last-child {
        top: 100%;
      }
    }
  }
}

body {
  color: #161515;
  background: #e8e8e9;
  font-family: "Faktum";
  overflow: hidden;
}

main {
  section {
    &#intro {
      width: 100%;
      height: 100vh;
      color: #fff;
      background: url("./imgs/introBG.png") center/cover no-repeat;
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: opacity 2s ease-in-out;
        .fade-in {
          opacity: 1;
        }
      }
      position: relative;
      overflow: hidden;
      img {
        display: block;
        color: #3d3d3d;
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        padding: 3%;
        width: 100%;
      }
      background: #000;
      span {
        font-family: "exmouth";
        position: absolute;
        top: 10%;
        color: #c8c9d0;
        font-size: 12vw;
        letter-spacing: 8px;
        text-align: center;
        white-space: nowrap;
        width: 100%;
      }
      div {
        width: 100%;
        height: 100%;
        img {
          object-fit: cover;
          width: 100%;
        }
      }
      ul {
        padding: 2%;
        &.top {
          position: relative;
          display: flex;
          justify-content: space-between;
          font-size: 2rem;
          text-transform: uppercase;
          li {
            img {
              width: 50px;
            }
          }
        }
        &.bottom {
          width: 100%;
          display: flex;
          height: 100%;
          li {
            .titleImg {
              position: absolute;
              bottom: 0;
              left: 0;
              img {
                padding: 0 2%;
                width: 100%;
                height: 100%;
                object-fit: cover;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
      .titleImg {
        position: absolute;
        margin: 2%;
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        justify-content: center;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
    &#contents {
      width: 100%;
      background: #e8e8e9;
      color: #161515;
      padding: 5%;
      padding-top: 12%;
      h4 {
        font-size: 2rem;
        margin-bottom: 50px;
      }
      ul {
        li {
          display: flex;
          justify-content: space-between;
          margin-bottom: 20px;
          width: 100%;
          a {
            &:hover {
              color: #323232;
            }
            transition: all 0.6s;
            font-size: 8rem;
            font-weight: 600;
            letter-spacing: -0.3rem;
            color: #c8c8c8;
            i {
              font-size: 4rem;
            }
          }
          div {
            transition: all 0.6s;
            position: absolute;
            right: 6%;
            width: 300px;
            height: 120px;
            opacity: 0;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 8px;
            }
          }
          &:hover div {
            opacity: 1;
          }
        }
      }
    }
    &#select {
      width: 100%;
      background: #e8e8e9;
      color: #161515;
      padding: 0 6%;
      margin-bottom: 100px;
      .line {
        width: 100%;
        height: 1px;
        background: #161515;
        margin-top: 100px;
      }
      h4 {
        font-size: 6rem;
        margin-top: 40px;
        margin-bottom: 30px;
        font-weight: 300;
        letter-spacing: -0.2rem;
      }
      ul {
        width: 100%;
        height: 100%;
        li {
          position: relative;
          width: 100%;
          height: 100%;
          margin-bottom: 40px;
          overflow: hidden;
          aspect-ratio: 2 / 1;
          border-radius: 10px;
          .ProjectTitle {
            cursor: pointer;
            width: 100%;
            height: 100%;
            object-fit: cover;
            div {
              overflow: hidden;
              width: 100%;
              &:first-child {
                position: absolute;
                bottom: 6%;
                left: 3%;
                z-index: 2;
              }
            }
            img {
              transition: all 0.6s;
              &:hover {
                transform: scale(1.1);
              }
              border-radius: 10px;
              width: 100%;
              height: 100%;
              object-fit: cover;
              overflow: hidden;
              z-index: -1;
            }
            p {
              &:first-child {
                font-size: 1.4rem;
                margin-bottom: 12px;
                color: #c8c8c8;
              }
              font-size: 3rem;
              font-weight: 500;
              color: #fff;
            }
            &::after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: linear-gradient(
                to top,
                rgba(0, 0, 0, 0.8) 0%,
                /* 아래는 진한 검정 */ rgba(0, 0, 0, 0.2) 100% /* 위로 갈수록 투명 */
              );
              opacity: 1;
              pointer-events: none;
            }
          }
        }
      }
    }
    &#about {
      width: 100%;
      height: 100vh;
      background: #e8e8e9;
      aspect-ratio: 14 / 1;
      text-wrap: balance;
      position: relative;
      margin-top: 120px;
      z-index: 0;
      overflow: hidden;
      img {
        object-fit: cover;
        width: 100%;
        position: absolute;
        bottom: 0;
        height: 100%;
        width: 100%;
      }
      img.less {
        display: block;
        position: absolute;
        top: 0vh;
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        height: auto;
        z-index: -1;
      }
      p {
        font-family: "Firty Free";
        color: #161515;
        width: 100%;
        text-align: center;
        font-size: 10vw;
        white-space: nowrap;
        position: absolute;
        text-wrap: balance;
        position: relative;
        top: 3vh;
        z-index: -1;
        // letterspacing: 20px;
      }
      div {
        width: 100%;
        display: flex;
        white-space: nowrap;
        flex-direction: column;
        gap: 10px;
        position: absolute;
        bottom: 8%;
        padding: 0 6%;
        justify-content: space-between;
        span {
          font-size: 1.4rem;
          white-space: nowrap;
          color: #161515;
          z-index: 2;
          i.fa-phone {
            margin-right: 4px;
            font-size: 1.4rem;
          }
          i.fa-envelope {
            margin-right: 6px;
            font-size: 1.4rem;
          }
          i.fa-face-smile-wink {
            margin-right: 6px;
            font-size: 1.4rem;
          }
          &.go {
            width: 120px;
            border-radius: 20px;
            border: 1px solid #161515;
            padding: 8px 12px;
            font-size: 1.4rem;
            transition: all 0.6s;
            &:hover {
              background: #161515;
              color: #fff;
            }
          }
          i {
            cursor: pointer;
            margin-left: 1px;
            margin-top: 10px;
            font-size: 3.2rem;
            transition: all 0.6s;
            &:hover {
              color: #b5bed2;
            }
          }
        }
      }
    }
    &#scrollSection {
      background: #b5bed2;
      color: #161515;
      width: 100%;
      .marquee {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        will-change: transform;
        div {
          display: flex;
          gap: 150px;
          padding: 16px;
          will-change: transform;
          text-transform: uppercase;
          animation: scrolling 80s linear infinite both;
          font-size: 1.2rem;
          // color: #fff;
          transition: all 0.3s;
          letter-spacing: 1.2px;
        }
      }
    }
  }
}

//footer
footer {
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 2% 4%;
  background: #161515;
  div {
    height: 200px;
    display: flex;
    justify-content: space-between;
    i {
      cursor: pointer;
      margin-left: 10px;
      margin-top: 10px;
      font-size: 4rem;
      transition: all 0.6s;
      &:hover {
        color: #b5bed2;
      }
    }
    div {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: end;
      gap: 6px;
      justify-content: space-between;
      i.fa-phone {
        margin-right: 4px;
        font-size: 1.4rem;
      }
      i.fa-envelope {
        margin-right: 6px;
        font-size: 1.4rem;
      }
      i.fa-face-smile-wink {
        margin-right: 6px;
        font-size: 1.4rem;
      }
    }
  }
  p {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
  }
  span {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 1024px) {
  header {
    z-index: 2;
    background: transparent;
    transition: all 0.3s;
    width: 100%;
    gap: 20px;
    mix-blend-mode: difference;
    color: map-get($map: $color, $key: light);
    #leftGnb {
      flex-direction: column;
      width: auto !important;
      position: fixed;
      opacity: 0;
      visibility: hidden;
      transition: all 0.3s;
      width: 100% !important;
      top: 0;
      height: 100vh;
      right: -100%;
      padding-top: 100px;
      z-index: 2;
      ul {
        flex-direction: column;
        width: 100%;
        gap: 0;
        li {
          line-height: 80px;
          width: 100%;
          text-indent: 3%;
          width: 100%;
          &:nth-child(5) {
            opacity: 1;
            visibility: visible;
            position: static;
          }
          a {
            font-size: 1.8rem;
          }
        }
      }
      &.active {
        opacity: 1;
        visibility: visible;
        right: 0;
        background: map-get($map: $color, $key: light);
        color: map-get($map: $color, $key: dark);
      }
    }
    #rightGnb {
      width: auto !important;
      ul {
        li {
          i {
            opacity: 1;
            visibility: visible;
            font-size: 2rem;
            position: static;
          }
          span {
            &:not(#toggleBtn span) {
              opacity: 0;
              visibility: hidden;
              position: absolute;
            }
          }
          &:nth-child(4) {
            opacity: 0;
            visibility: hidden;
            position: absolute;
          }
          &:last-child {
            opacity: 1;
            visibility: visible;
            position: static !important;
            #toggleBtn {
              width: 22px;
              height: 16px;
              z-index: 3;
              &.active {
                span {
                  background: map-get($map: $color, $key: dark);
                  &:first-child {
                    top: 50%;
                    transform: rotate(45deg);
                  }
                  &:nth-child(2) {
                    opacity: 0;
                  }
                  &:last-child {
                    top: 50%;
                    transform: rotate(-45deg);
                  }
                }
              }
            }
          }
        }
      }
    }
    #logo {
      position: static;
      transform: none;
      width: auto;
      z-index: 3;
      left: 3%;
      a {
        font-size: 2.4rem;
        justify-content: start;
      }
    }
  }

  main {
    section {
      &#intro {
        span {
          top: 3%;
          font-size: 17vw;
        }
      }
      &#contents {
        padding: 0 6%;
        padding-top: 12%;
        h4 {
          font-size: 1.4rem;
          margin-bottom: 20px;
        }
        ul {
          li {
            flex-direction: column;
            a {
              font-size: 5rem;
              letter-spacing: -0.1rem;
              i {
                font-size: 2.6rem;
              }
            }
            &:hover div {
              opacity: 0;
            }
          }
        }
      }
      &#select {
        padding: 0 6%;
        h4 {
          font-size: 4.4rem;
          margin-top: 20px;
        }
        ul {
          li {
            margin-bottom: 14px;
            border-radius: 8px;
            .ProjectTitle {
              div {
                &:first-child {
                  position: absolute;
                  bottom: 10%;
                  left: 6%;
                }
              }
              p {
                &:first-child {
                  font-size: 1rem;
                }
                font-size: 2.2rem;
              }
            }
          }
        }
      }
      &#about {
        margin-top: 40px;
        height: 60vh;
        img.less {
          top: 4vh;
          width: 84%;
        }
        div {
          gap: 4px;
          span {
            font-size: 1rem;
            i.fa-phone {
              margin-right: 4px;
              font-size: 1rem;
            }
            i.fa-envelope {
              margin-right: 6px;
              font-size: 1rem;
            }
            i.fa-face-smile-wink {
              margin-right: 6px;
              font-size: 1rem;
            }
            i {
              font-size: 2rem;
              margin-left: 2px;
            }
          }
        }
      }
      &#scrollSection {
        .marquee {
          div {
            font-size: 1rem;
            padding: 12px;
            gap: 120px;
          }
        }
      }
    }
  }

  footer {
    padding: 6% 4%;
    div {
      height: 200px;
      i {
        font-size: 3rem;
      }
    }
    p {
      font-size: 3rem;
    }
    span {
      font-size: 1rem;
    }
  }
}

//애니메이션
@keyframes scrolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
