@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "Faktum";
  src: url("../fonts/FaktumBold.otf");
  src: url("../fonts/FaktumRegular.otf");
}
html {
  font-size: 62.5%;
  background: #1a1a1a;
  color: #161515;
  font-family: "Faktum";
}

header {
  z-index: 1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 30px;
  border-radius: 10px;
  position: fixed;
  width: 480px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 28px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(16px);
  background-color: rgba(47, 47, 47, 0.759);
  color: #a1a1a1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
header.active {
  top: -60px;
}
header h1 {
  width: 14px;
}
header h1 a {
  position: relative;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header h1 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header #gnb ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header #gnb ul li {
  font-family: "Faktum";
  text-transform: uppercase;
  font-weight: bold;
  padding: 2px;
}
header #gnb ul li:hover a {
  font-weight: bold;
}
header #gnb ul li:nth-child(1):hover > a {
  color: #fff;
}
header #gnb ul li:nth-child(2):hover > a {
  color: #fff;
}
header #gnb ul li:nth-child(3):hover > a {
  color: #fff;
}
header #gnb ul li:nth-child(4):hover > a {
  color: #fff;
}
header #gnb ul li a {
  display: inline-block;
  padding: 5px 8px;
  position: relative;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-weight: 300;
}
header p {
  opacity: 0;
  position: absolute;
  background: url("./images/detail/circle_black.png") center/cover no-repeat;
  -webkit-animation: circle 10s linear infinite;
          animation: circle 10s linear infinite;
  bottom: -50px;
  right: -50px;
  z-index: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 0px;
  height: 0px;
}
header #toggleBtn {
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 28px;
  height: 20px;
  position: relative;
  background: transparent;
  border: none;
  cursor: pointer;
}
header #toggleBtn span {
  display: block;
  position: absolute;
  font-weight: bold;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
header #toggleBtn span:nth-child(2) {
  top: 50%;
}
header #toggleBtn span:last-child {
  top: 100%;
}

body {
  background: #cab7a8;
  font-family: "Noto Sans";
}
body i {
  font-size: 1rem;
}

button {
  margin-top: 20px;
  padding: 8px 30px;
  border: 1px solid #3c3c3c;
  background: #e8e8e9;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
button:hover {
  background: #3c3c3c;
  color: #fff;
}

section {
  width: 100%;
}
section#cover {
  width: 100%;
  height: 100vh;
  background: url("../imgs/P03.jpg") center/cover no-repeat;
  position: relative;
}
section#cover div.urlLink {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  left: 6%;
  bottom: 10%;
  height: auto;
  width: auto;
}
section#cover div.urlLink button {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  padding: 8px 30px;
  border: 1px solid #000000;
  border-radius: 30px;
  font-size: 1.2rem;
  color: #161515;
  cursor: pointer;
  background: none;
}
section#cover div.urlLink button i {
  font-size: 1rem;
}
section#cover div.urlLink button:hover {
  background: #000000;
  color: #fff;
}
section#desc {
  width: 100%;
  height: 100%;
  margin: 6%;
}
section#desc div.mainTitle {
  width: 100%;
}
section#desc div.mainTitle span {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Faktum";
}
section#desc div.mainTitle h5 {
  font-size: 2.4rem;
  font-weight: 700;
  margin: 20px 0 40px 0;
}
section#desc div.mainTitle p {
  width: 80%;
  font-size: 1.2rem;
  line-height: 2;
  color: #3c3c3c;
}
section#detail01 {
  width: 100%;
  height: 100%;
  padding: 0 5%;
}
section#detail01 div {
  width: 100%;
  width: 100%;
}
section#detail01 div.imgBox {
  width: 100%;
}
section#detail01 div.imgBox img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
section#detail01 div.background {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
  padding: 0 4%;
}
section#detail01 div.background span {
  width: 40%;
  font-size: 1.4rem;
  display: block;
  text-transform: uppercase;
  font-family: "Faktum";
}
section#detail01 div.background div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
section#detail01 div.background div h5 {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
  margin-bottom: 40px;
}
section#detail01 div.background div p {
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 400;
  color: #3c3c3c;
}
section#detail01 div.descImg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 4%;
  height: 800px;
  width: 100%;
}
section#detail01 div.descImg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
section#detail01 div.userResearch {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 60px 0;
  padding: 0 4%;
}
section#detail01 div.userResearch span {
  width: 40%;
  font-size: 1.4rem;
  display: block;
  text-transform: uppercase;
  font-family: "Faktum";
}
section#detail01 div.userResearch div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
section#detail01 div.userResearch div h5 {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 40px;
}
section#detail01 div.userResearch div div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
section#detail01 div.userResearch div div p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 150px;
  height: 150px;
  font-size: 1.1rem;
  line-height: 1.4;
  letter-spacing: -0.2;
  color: #ffffff;
  background: #161515;
  border-radius: 50%;
  padding: 20px;
}
section#detail01 div.userResearch div div p div {
  background: #fff;
  width: 10px;
}
section#detail01 div.userResearch div div p:first-child {
  background: #9e34d7;
}
section#detail01 div.userResearch div div p:nth-child(2) {
  background: #8c1ac9;
}
section#detail01 div.userResearch div div p:nth-child(3) {
  background: #5f1985;
}
section#detail01 div.userResearch div div p:last-child {
  background: #4a0370;
}
section#designSystem {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
  padding: 8%;
  background: #4c443a;
  background: #251e19;
  color: #fff;
}
section#designSystem span {
  width: 40%;
  font-size: 2.4rem;
  display: block;
  text-transform: uppercase;
  margin: 30px 0;
  font-family: "Faktum";
}
section#designSystem div {
  width: 100%;
  overflow: hidden;
}
section#designSystem div img {
  border-radius: 20px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section#detail02 {
  width: 100%;
  height: 100%;
  background: #e5e5e5;
  background: #1e032d;
  padding-bottom: 100px;
  color: #fff;
}
section#detail02 .descTitle {
  padding: 10% 10% 5%;
  padding: 0 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section#detail02 .descTitle span {
  width: 30%;
  font-size: 1.4rem;
  display: block;
  text-transform: uppercase;
  font-family: "Faktum";
}
section#detail02 .descTitle div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
section#detail02 .descTitle div p {
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 400;
}
section#detail02 .secondImg {
  width: 100%;
  padding: 0 10%;
  overflow: hidden;
}
section#detail02 .secondImg div {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  grid-template-columns: 1fr;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  width: 100%;
  overflow: hidden;
  gap: 20px;
}
section#detail02 .secondImg div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section#detail03 {
  width: 100%;
  height: 100%;
  background: #e5e5e5;
}
section#detail03 .descTitle {
  padding: 0 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
}
section#detail03 .descTitle span {
  width: 30%;
  font-size: 1.4rem;
  text-transform: uppercase;
  font-family: "Faktum";
}
section#detail03 .descTitle div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
section#detail03 .descTitle div p {
  font-size: 1.2rem;
  line-height: 1.8;
  font-weight: 400;
}
section#detail03 .thirdImg {
  width: 100%;
  position: relative;
  height: 100%;
  overflow: hidden;
}
section#detail03 .thirdImg div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: grid;
  grid-template-columns: 1fr;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #fff;
  overflow: hidden;
}
section#detail03 .thirdImg div::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  pointer-events: none;
}
section#detail03 .thirdImg div img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
section#detail03 .thirdImg div.last {
  display: block;
  padding: 0 6%;
}

footer {
  width: 100%;
  font-family: "Faktum";
  height: 100%;
  color: #fff;
  padding: 2% 4%;
  background: #161515;
}
footer div {
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer div i {
  cursor: pointer;
  margin-left: 10px;
  margin-top: 10px;
  font-size: 4rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
footer div i:hover {
  color: #3794db;
}
footer div div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  gap: 6px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
footer div div i.fa-phone {
  margin-right: 4px;
  font-size: 1.4rem;
}
footer div div i.fa-envelope {
  margin-right: 6px;
  font-size: 1.4rem;
}
footer div div i.fa-face-smile-wink {
  margin-right: 6px;
  font-size: 1.4rem;
}
footer p {
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}
footer span {
  font-size: 1.2rem;
}